<% include ./partials/header.ejs %>

<div class="ui main segment">
    <div class="ui two column very relaxed grid">
        <div class="column">
            <div class="ui one column center aligned grid">
                <div class="left aligned column">
                    <div class="ui grid">
                        <div class="row">
                            <div class="three wide column">
                                <img class="ui tiny rounded image" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/<%=summoner.icon%>.png">
                            </div>
                            <div class="thirteen wide column">
                                <span>
                                    <div style="display: inline-block">
                                        <h1><strong><%= summoner.name %></strong></h1>
                                    </div>
                                    <div>
                                        <p class="light">Level: <%= summoner.level %></p>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <img class="ui centered small image" src="../img/emblems/gold_emblem.png">
                </div>
                <div class="column">
                    <p><strong><%= summoner.rank.tier %> <%= summoner.rank.division %> <%= summoner.rank.lp %>lp</strong></p>
                </div>
                <div class="column">
                    <p><%= summoner.wins %><span id="blueTeam">W</span></p>
                </div>
                <div class="column">
                    <p><%= summoner.losses %><span id="redTeam">L</span></p>
                </div>
                <div class="column">
                    <p class="light">Win Ratio <%= summoner.winRatio %></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui two column grid">
                <div class="row">
                    <div class="column">
                        <img class="ui test rounded image" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Aatrox.png">
                    </div>
                    <div class="column">
                        <p>Aatrox</p>
                        <p class="light">2.5:1 KDA</p>
                        <p class="light">12.1-4.2-23.2</p>
                        <p class="light">121cs</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <img class="ui test rounded image" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Aatrox.png">
                    </div>
                    <div class="column">
                        <p>Aatrox</p>
                        <p class="light">2.5:1 KDA</p>
                        <p class="light">12.1-4.2-23.2</p>
                        <p class="light">121cs</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <img class="ui test rounded image" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/Aatrox.png">
                    </div>
                    <div class="column">
                        <p>Aatrox</p>
                        <p class="light">2.5:1 KDA</p>
                        <p class="light">12.1-4.2-23.2</p>
                        <p class="light">121cs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical divider"></div>
</div>
<div class="ui one column centered grid">
        <form class="ui form" action="/match/<%= summoner.summonerId %>" method="GET">
            <div class="ui buttons">
                <button class="ui big primary button">Live Game</button>
                <div class="or"></div>
                <button formaction="/" class="ui big orange button">Back</button>
              </div>
        </form>
</div>

<% include ./partials/footer.ejs %>