<% include ./partials/header.ejs %>

<p>Summoner Icon Id: <%= summoner.icon %></p>
<h1><%= summoner.name %></h1>
<p>Summoner Level: <%= summoner.level %></p>
<p>Rank: <%= summoner.rank.tier %> <%= summoner.rank.division %> - <%= summoner.rank.lp %>lp</p>
<p>Rank Wins: <%= summoner.wins %></p>
<p>Rank Losses <%= summoner.losses %></p>
<p>Win Ratio <%= summoner.winRatio %></p>
<form class="ui form" action="/" method="GET">
    <div class="field">
        <button class="ui blue submit button">Live Game</button>
    </div>
    </div>
</form>


<% include ./partials/footer.ejs %>